*, *::before, *::after {
 box-sizing: border-box;
 font-family: Gotham Rounded;
}

body{
  background-color: white;
}

header{
  display: block;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

h1, p, .control,{
  display: flex;
  justify-content: center;
}

.btn-grid{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 20px;
}

.btn{
  background-color: rgb(142, 72, 207);
  color: white;
}

.show{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.start-btn{
  width: 20%;
  margin-left: 40%;
}

.hide, .wrong, .correct{
  display: none;
}

.answer{
  width: 100%;
  border-top: 1px solid black;
}

.floatLeft{
  float: left;
  margin-left: 10%;
}
.floatRight{
  float: right;
  margin-right: 10%;
}

.inBlock{
  display: flex;
  margin: 0;
}



@media (max-width: 690px) {
    .btn {
      font-size: 1rem;
      margin: 16px 0px 0px 0px;
      padding: 10px 15px;
    }
  
    #password {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 500px) {
    .btn {
      font-size: 0.8rem;
    }
  }
